
.contenedor {
  background-image: url("imagenes/fondo.jpg"); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 40px;
  text-align: center;
  color: white; 
}

body {
  background-color: rgb(233, 179, 143);
  margin: 0;
   font-family: 'Lora', serif;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}
.lista2 li {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.lista2 img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-right: 10px;
}
